<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :show_performance, 'Show performance stats to non-admins (individually, not aggregate)?' %><br />
    <%= f.check_box :show_performance, is_checked: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
