<h1>MDE Tally System Administration</h1>

<%= link_to 'Users', users_path %><br />
<p><%= link_to 'Teams', teams_path %><br />
<p><%= link_to 'User Team Assignments', assignments_path %><br />
<p><%= link_to 'Team Task Assignments', tasks_path %><br />
<p><%= link_to 'Time Entries', time_entries_path %><br />
<p><%= link_to 'Global Tasks', task_inventories_path %><br />
