<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>

<h1>Operating Report for <%= start_date %> to <%= end_date %><h2><br />
<p>
  <%= render 'operating_report_form' %>
<p>
<%= render 'operating_report_table' %>
