<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, start_year: Time.now.year %>
  </div>
  <div class="field">
    <%= label_tag :no_end_date? %>
    <%= check_box_tag :no_end_date, nil, true %>
  </div>  
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, end_year: Time.now.year + 25, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.collection_select :user_id, @user, :id, :username, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.collection_select :role_id, @role, :id, :name, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :team %><br />
    <%= f.collection_select :team_id, @team, :id, :name, disabled: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
