<h1>Listing assignments for <%= @user.username %></h1>
<%= form_tag("/assignments", :method => "get", :action => "index") do %>
  <%= label_tag :user %>
  <%= select_tag "user", options_from_collection_for_select(@users, "id", "username"), prompt: "Select a user..." %>
  <%= submit_tag "Show Assignments" %>
<% end %>
<p>
<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>User</th>
    <th>Role</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.start_date %></td>
    <td><%= assignment.end_date %></td>
    <td><%= assignment.user.username %></td>
    <td><%= assignment.role.name %></td>
    <td><%= assignment.team.name %></td>
    <td><% link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><% link_to 'Destroy', assignment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
<p>
<%= link_to 'New user', new_user_path %>
