<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @assignment.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @assignment.end_date %>
</p>

<p>
  <b>User:</b>
  <%= @assignment.user.username %>
</p>

<p>
  <b>Role:</b>
  <%= @assignment.role.name %>
</p>

<p>
  <b>Team:</b>
  <%= @assignment.team.name %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
