<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Time entry:</b>
  <%= @comment.time_entry %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
