<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>

<h1>Changing team for <%= @user.username %></h1>

<%= render 'change_team_form' %>

<%= link_to 'Home', home_path %>
