<table border="1">
  <tr>
    <th>Minutes</th>
    <th>Number processed</th>
    <th>Effective date</th>
    <th>Task</th>
    <th>User</th>
    <th>Team</th>
    <th>Most Recent Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_entries.each do |time_entry| %>
  <tr>
    <td><%= if !time_entry.task.is_direct? then time_entry.minutes else "-" end%></td>
    <td><%= time_entry.number_processed %></td>
    <td><%= time_entry.effective_date %></td>
    <td><%= time_entry.task.name %></td>
    <td><%= time_entry.user.username %></td>
    <td><%= time_entry.team.name %></td>
    <td><%= time_entry.comments.last.comment unless time_entry.comments.empty? %></td>
    <td><%= link_to 'View', time_entry_path(time_entry)  %></td>
    <td><%= link_to 'Comment', { controller: "comments", action: "new", time_entry: time_entry } %></td>
    <td><%= link_to 'Edit', edit_time_entry_path(time_entry) %></td>
    <td><%= link_to 'Delete', time_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
