<%= form_for(@time_entry) do |f| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_entry.errors.count, "error") %> prohibited this time_entry from being saved:</h2>

      <ul>
      <% @time_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task %>s for <%= current_user.team.name  %>
    <%= link_to "change team", change_team_path, confirm: 'Changing teams will cause your session to end. Continue?' %><br />

    <%= f.collection_select :task_id, @tasks, :id, :name, prompt: true %>
      </div>  <div class="field">
    <%= f.label :minutes, hidden: true%>
    <%= number_field_tag :minutes, nil, min: 0, hidden: true %>
    <%= f.label :seconds, hidden: true %>
    <%= f.number_field :seconds, min: 0, hidden: true %>
  </div>
  <div class="field">
    <%= f.label :number_processed, hidden: true %><br />
    <%= f.number_field :number_processed, value: 1, min: 0, hidden: true %>
  </div>
  <div class="field">
    <%= f.label :effective_date %><br />
    <%= f.date_select :effective_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
