<%= render 'form_for_index' %>

<h1>Task Specific Time Entries for <%= @begin %> to <%= @end %></h1>

<table>
  <tr>
    <th>Minutes</th>
    <th>Number processed</th>
    <th>Effective date</th>
    <th>Task</th>
    <th>User</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_entries.each do |time_entry| %>
  <tr>
    <td><%= time_entry.minutes %></td>
    <td><%= time_entry.number_processed %></td>
    <td><%= time_entry.effective_date %></td>
    <td><%= time_entry.task.name %></td>
    <td><%= time_entry.user.username %></td>
    <td><%= time_entry.team.name %></td>
    <td><%= link_to 'View', time_entry %></td>
    <td><%= link_to 'Comment', { controller: "comments", action: "new", time_entry: time_entry }  %></td>
    <td><%= link_to 'Edit', edit_time_entry_path(time_entry) %></td>
    <td><%= link_to 'Destroy', time_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Time entry', new_time_entry_path %>
