<p id="notice"><%= notice %></p>

<p>
  <b>Minutes:</b>
  <%= @time_entry.minutes %>
</p>

<p>
  <b>Number processed:</b>
  <%= @time_entry.number_processed %>
</p>

<p>
  <b>Effective date:</b>
  <%= @time_entry.effective_date %>
</p>

<p>
  <b>Task:</b>
  <%= @time_entry.task.name %>
</p>

<p>
  <b>User:</b>
  <%= @time_entry.user.username %>
</p>

<h3><b>Comments:</b></h3>
<% @comments.each do |comment| %>
    <b><%= comment.user.username  %> wrote: </b><p><%= comment.comment %>
    (<%= distance_of_time_in_words_to_now(comment.created_at) %> ago)</b><br /><br />

<% end %>

<%= link_to 'Edit', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Home', home_path %>
