<%= form_tag("/operating_report", method: "post", remote: true ) do %>
  <div class="field">
    <%= label_tag :team %>
    <%= select_tag "team", options_from_collection_for_select(@teams, :id, :name) %>
  </div>
  <div class="field">
    <%= label_tag :users %>
    <%= select_tag "users", options_from_collection_for_select(@users, :id, :username), multiple: true %>
  </div>
  <div class="field">
    <%= label_tag :start_date %>
    <%= text_field_tag  :start_date, start_date %><br />
  </div>
  <div class="field">
    <%= label_tag :end_date %>
    <%= text_field_tag :end_date, end_date %><br />
  </div>
  <div class="field">
    <%= label_tag :display_by_week %>
    <%= radio_button_tag :display_by_week, true, selected: true %>
    <%= label_tag :display_by_day %>
    <%= radio_button_tag :display_by_week, false %>  </div>
  <%= submit_tag "Regenerate Report" %>
<% end %>
