<h2><%= @report_type %> Operating Report for <%= start_date %> to <%= end_date %><h2>
<h3>Team: <%= @team.name  %></h3>
<h3>Users: <%= selected_users_string %></h3>
<table class="operating_report_table">
  <tr>
    <th>Task Name</th>
    <th>May</th>
  </tr>
</table>
