<p id="notice"><%= notice %></p>

<p>
  <b>Hours:</b>
  <%= @paid_time_entry.hours %>
</p>

<p>
  <b>Effective date:</b>
  <%= @paid_time_entry.effective_date %>
</p>

<p>
  <b>User:</b>
  <%= @paid_time_entry.user.username %>
</p>

<p>
  <b>Team:</b>
  <%= @paid_time_entry.team.name %>
</p>


<%= link_to 'Edit', edit_paid_time_entry_path(@paid_time_entry) %> |
<%= link_to 'Back', paid_time_entries_path %>
