<header class="header">
    <div id="logo">
    <img src="/assets/mde_logo.jpg" alt="MDE Logo">
    </div>
    <div class="container">
      <nav>
        <ul class="nav-links">
          <% if signed_in? %>
            <li>Welcome, <b><%= current_user.username %></b><li>
            <li><%= link_to "Admin",    '#' %></li>
            <li><%= link_to "Home",    '#' %></li>
            <li><%= link_to "Signout", signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
</header>
